services:
  dev:
    build:
      context: .devcontainer
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    command: ['sh', '-c',  'trap "exit 0" TERM; sleep infinity & wait']
    volumes:
      - ./:/workspace:cached
